<div class="banner_component banner bg_banner" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-md-12 text-center text-white">
                <small class="sub_title" [innerHTML]="bannerContent.subTitle"></small>
                <h1 [innerHTML]="bannerContent.heading"></h1>
                <p class="mt-md-4 mt-3" [innerHTML]="bannerContent.paragraph"></p>
            </div>
        </div>
    </div>
</div>
