.section{
    background: #f7f7f7;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    h6{
        color: #878787;
        letter-spacing: 1px;
        font-size: 20px;
        font-weight: 600;
    }
    p{
        color: #878787;
        letter-spacing: 1px;
        font-size: 15px;
        font-weight: 500;
    }
}


button {
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    transition: all 0.3s;
    letter-spacing: 2px;
  }
  
  button{
    position: relative;
  }
  
  button:after {
    content: '⟶';
    position: absolute;
    top: 20%;
    right: 10px;
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease; 
  }
  
  button:hover{
   padding: 10px 25px;
  }
  
  button:hover:after {
    opacity: 1;
  }

  button span {
    display: inline-block;
    transition: transform 0.5s ease; 
  }
  
  button:hover span {
    transform: translateX(-15px); 
  }