<section>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="inner-body text-center">
                <h3 class="mb-5">Testimonials & Featured Clients</h3>
                <h5 class="p-3">51,05% more organic website visitors compared to last year.</h5>
                <p>
                    In the process of optimization, our online presence on Google has improved a lot. Claire and Arthur offer great suggestions on how we can continue to improve our website and online findability. I am very pleased with their services, communication and results.
                </p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="inner-body text-center">
                <h3 class="mb-5">Testimonials & Featured Clients</h3>
                <h5 class="p-3">94% more organic traffic compared to last year.</h5>
                <p>
                    The search for competent honest SEO experts is very harrowing. We were fortunate and had Claire and Arthur recommended to us. We had them make a presentation, we evaluated it, and went forward as a client. It has now been 6 months and our Google rankings and website traffic have both improved significantly as a result of their SEO actions. We could not be more satisfied with their services and results.
                </p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="inner-body text-center">
                <h3 class="mb-5">Testimonials & Featured Clients</h3>
                <h5 class="p-3">We are very satisfied with the new website</h5>
                <p>
                    Because of the pleasant and fast communication, the competitive prices and the thinking of Claire, we have chosen Grid Marketing to build our new website. We are very satisfied with the collaboration and the new website! 
                </p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>