section{
    padding: 50px 0px;
  }
  
  .carousel {
      display: flex;
      align-items: center;
      padding: 54px 0px 90PX 0PX;
  
    }
    
    .carousel-inner {
      max-width: 60%; 
      margin: auto;
      p{
          line-height: 37px;
          letter-spacing: 0.5px;
          word-wrap: break-word;
      } 
    }
    
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      filter: invert(1); 
      
    }
  