/* You can add global styles to this file, and also import other style files */
$primary: #ff5733;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    scroll-behavior: smooth
}

.old-bootstrap {
    @import '~bootstrap@4.6.2/dist/css/bootstrap.min.css';
  }
  

.bg-theme{
    background: #aa4b41;
}

.clr-theme{
    color: #aa4b41;
}

.custom-btn {
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    transition: all 0.3s;
    letter-spacing: 2px;
  }
  
  .custom-btn{
    position: relative;
  }
  
  .custom-btn:after {
    content: '⟶';
    position: absolute;
    top: 20%;
    right: 5%;
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease; 
  }
  
  .custom-btn:hover{
   padding: 10px 25px;
  }
  
  .custom-btn:hover:after {
    opacity: 1;
  }

  .custom-btn span {
    display: inline-block;
    transition: transform 0.3s ease; 
  }
  
  .custom-btn:hover span {
    transform: translateX(-15px); 
  }



