.section_banner{
    padding: 100px;
    background-color: #f7f7f7;
    p{
        font-size: 30px;
        color: #2d3033;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
    }

}