<section class="section_banner banner">
    <!-- <div class="banner_info">
        <div class="banner_bg">
           <img src="../../../../assets/images/banner-2d/banner-bg.png" alt="">
           <img src="../../../../assets/images/banner-2d/banner_icon.webp" alt="" class="banner_icon">
        </div>
    </div> -->
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
           <div>
               <p class="mb-4">READY TO GROW YOUR DIGITAL PRESENCE?</p>
               <div class="d-flex align-items-center justify-content-center pt-5">
                <button class="custom-btn bg-theme"><span>GET IN TOUCH</span></button>
              </div>
           </div>
        </div>
    </div>
  </section>